# Problem Solution.
The objective is to accurately predict whether a student will drop out or not.

### Group Members
* Halid Maneno
* Robert Mlinda
* Nyamos Waigama
* Raymond Mkindo

In [1]:
#importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#Loading data training data.
data = pd.read_csv('traindata.csv')
data.head()

,continue_drop,student_id,gender,caste,mathematics_marks,english_marks,science_marks,science_teacher,languages_teacher,guardian,internet,school_id,total_students,total_toilets,establishment_year
0,continue,s01746,M,BC,0.666,0.468,0.666,7,6,other,True,305,354,86.0,1986.0
1,continue,s16986,M,BC,0.172,0.420,0.172,8,10,mother,False,331,516,15.0,1996.0
2,continue,s00147,F,BC,0.212,0.601,0.212,1,4,mother,False,311,209,14.0,1976.0
3,continue,s08104,F,ST,0.434,0.611,0.434,2,5,father,True,364,147,28.0,1911.0
4,continue,s11132,F,SC,0.283,0.478,0.283,1,10,mother,True,394,122,15.0,1889.0

###  Observation and Preparation of data

In [3]:
# checking for null values in the dataset
data.isnull().sum()

continue_drop           0
student_id              0
gender                  0
caste                   0
mathematics_marks       0
english_marks           0
science_marks           0
science_teacher         0
languages_teacher       0
guardian                0
internet                0
school_id               0
total_students          0
total_toilets         312
establishment_year    312
dtype: int64

In [4]:
# filling null values in the dataset
data["total_toilets"].fillna(data["total_toilets"].mean(), inplace = True)
data["establishment_year"].fillna(data["establishment_year"].mean(), inplace = True)
data.isnull().sum()

continue_drop         0
student_id            0
gender                0
caste                 0
mathematics_marks     0
english_marks         0
science_marks         0
science_teacher       0
languages_teacher     0
guardian              0
internet              0
school_id             0
total_students        0
total_toilets         0
establishment_year    0
dtype: int64

In [5]:
# encoding categorical values
cleanup_nums = {"continue_drop":{"continue":1,"drop":0},
                "gender":{"F":0,"M":1},
                "caste":{"BC":0,"SC":1,"OC":2,"ST":3},
                "guardian":{"mother":0,"father":1,"other":2,"mixed":3}
               }

data.replace(cleanup_nums, inplace=True)

data.internet = data.internet.astype(int)
data.head()

,continue_drop,student_id,gender,caste,mathematics_marks,english_marks,science_marks,science_teacher,languages_teacher,guardian,internet,school_id,total_students,total_toilets,establishment_year
0,1,s01746,1,0,0.666,0.468,0.666,7,6,2,1,305,354,86.0,1986.0
1,1,s16986,1,0,0.172,0.420,0.172,8,10,0,0,331,516,15.0,1996.0
2,1,s00147,0,0,0.212,0.601,0.212,1,4,0,0,311,209,14.0,1976.0
3,1,s08104,0,3,0.434,0.611,0.434,2,5,1,1,364,147,28.0,1911.0
4,1,s11132,0,1,0.283,0.478,0.283,1,10,0,1,394,122,15.0,1889.0

In [6]:
# dropping unused columns
data.drop('student_id', axis=1, inplace=True)
data.drop('school_id', axis=1, inplace=True)
data.drop('establishment_year', axis=1, inplace=True)
data.head()

,continue_drop,gender,caste,mathematics_marks,english_marks,science_marks,science_teacher,languages_teacher,guardian,internet,total_students,total_toilets
0,1,1,0,0.666,0.468,0.666,7,6,2,1,354,86.0
1,1,1,0,0.172,0.420,0.172,8,10,0,0,516,15.0
2,1,0,0,0.212,0.601,0.212,1,4,0,0,209,14.0
3,1,0,3,0.434,0.611,0.434,2,5,1,1,147,28.0
4,1,0,1,0.283,0.478,0.283,1,10,0,1,122,15.0

In [7]:
feature = ['gender', 'caste', 'mathematics_marks', 'english_marks', 'science_marks', 'science_teacher', 'languages_teacher', 'guardian', 'internet', 'total_students',
       'total_toilets']

X= data[feature]
y= data.continue_drop

### Feature Selection

In [8]:
# feature Importance
from sklearn.ensemble import RandomForestRegressor
# Define a model
rforest = RandomForestRegressor()
# Fit the model
rforest.fit(X,y)

C:\Users\eng.Msinguzi\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [4]:
# Importing libraries for feature visualization
import seaborn as sns
from ploting import *
beatify(fig_width=6)
%matplotlib inline
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'ploting'

In [ ]:
# Plot the important features
beatify(fig_width=8)
imp_feat_rf = pd.Series(rforest.feature_importances_, index=X.columns).sort_values(ascending=False)
imp_feat_rf.plot(kind='bar', title='Feature Importance with Random Forest', color='C0')
plt.ylabel('Feature Importance values')
plt.subplots_adjust(bottom=0.25)

In [ ]:
# dropping less important features
X.drop('total_toilets', axis=1, inplace=True)
X.drop('total_students', axis=1, inplace=True)
X.head()

In [ ]:
sel_features = ['gender', 'caste', 'mathematics_marks', 'english_marks', 'science_marks', 'science_teacher', 'languages_teacher', 'guardian', 'internet']
x1 = X[sel_features]

### Model selection

In [ ]:
# Spilling of Data
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x1, y,
                                                    test_size=0.25,
                                                    random_state=1234)

In [ ]:
# logistic Regression model
from sklearn.linear_model import LogisticRegression   # 1. choose model class
model_one = LogisticRegression()                          # 2. instantiate model
model_one.fit(x_train, y_train)

In [ ]:
# predicting new data
y_pred1 = model_one.predict(x_test)

In [ ]:
#f1_score metric
from sklearn.metrics import f1_score
test_acc = f1_score(y_test, y_pred1)
print("Test Accuracy: {}".format(test_acc))

In [ ]:
# Crossing checking predicted and actual data
from sklearn.metrics import confusion_matrix
value = confusion_matrix(y_test,y_pred1)
value

In [ ]:
# Random Forest classifier
from sklearn.ensemble import RandomForestClassifier
rForest = RandomForestClassifier(n_estimators=10)
rForest.fit(x_train, y_train)

In [ ]:
# Prediction and accuracy check
y_pred2 = rForest.predict(x_test)                      
test_acc  = f1_score(y_test, y_pred2)
print("Test Accuracy: {}" .format(test_acc))

In [ ]:
# Cross checking predicted and actual value
value = confusion_matrix(y_test,y_pred2)
value

In [ ]:
# K neighbor model
from sklearn.neighbors import KNeighborsClassifier       # 1. choose model class
knn = KNeighborsClassifier(n_neighbors=3)               # 2. instantiate model
knn.fit(x_train, y_train)

In [ ]:
# predict on new data and accuracy
y_pred3 = knn.predict(x_test)                      
test_acc  = f1_score(y_test, y_pred3)
print("Test Accuracy: {}" .format(test_acc))

In [ ]:
value = confusion_matrix(y_test,y_pred3)
value

### Predicting new data

In [ ]:
# loading test data
t_data = pd.read_csv('traindata.csv')
t_data.head()

In [ ]:
# encoding categorical values
cleanup_nums = {
                "gender":{"F":0,"M":1},
                "caste":{"BC":0,"SC":1,"OC":2,"ST":3},
                "guardian":{"mother":0,"father":1,"other":2,"mixed":3}
               }

t_data.replace(cleanup_nums, inplace=True)

t_data.internet = t_data.internet.astype(int)
t_data.head()

In [ ]:
# dropping less important features
t_data.drop('total_toilets', axis=1, inplace=True)
t_data.drop('total_students', axis=1, inplace=True)
t_data.drop('student_id', axis=1, inplace=True)
t_data.drop('school_id', axis=1, inplace=True)
t_data.drop('establishment_year', axis=1, inplace=True)

t_data.head()

In [ ]:
sel_features = ['gender', 'caste', 'mathematics_marks', 'english_marks', 'science_marks', 'science_teacher', 'languages_teacher', 'guardian', 'internet']
w= t_data[sel_features]

In [ ]:
# predicting new data
pred = knn.predict(w)
result = np.array(pred)                        
result

In [ ]:
#data balancing
from sklearn.utils import resample

In [ ]:
data_maj=data[data.continue_drop==1]
data_min=data[data.continue_drop==0]

In [ ]:
data_minority_upsampled=resample(data_min,replace=true,n_samples=16388,random_state=120)

In [ ]:
data_upsampled=pd.concate([data_maj,data_minority_upsampled])

In [ ]:
data_upsampled.continue_drop.value_counts()

In [ ]:
labels=['continue','drop']
size=[data_upsampled['continue_drop'].value_counts()[0],data_upsampled['continue_drop'].value_counts()[1]]
fig1,ax1=plt.subplots()ax1.pie(sizes,labels=labels,autopct='%1.1f%%',shadow=true)
ax1.axis('equal')
plt.title('counting vs dropout pie chart',fontsize 25)
plt.show()

In [ ]:
#saving result
np.save("Results.npy",result)